#top_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    height: auto;
}

#about_img_overlay {
    width: 100%;
    height: auto;
    position: absolute;
}

#overlay_text {
    background-color: rgba(223, 232, 223, 0.4);
}

#courses_btn button{
    background-color: #67781F;
    color: white;
    border-radius: 4px;
    border-width: 0;
}

#courses_btn button:hover{
    background-color: #505f0a;
}
