/*!

CSS File for index.html page

Naming Conventions:
===================
- for ids, use underscore(_)
- for classes, use hyphen(-)

*/

#main_intro_video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: auto;
}

#intro_video_overlay {
    text-align: center;
    color: white;
    width: auto;
    height: auto;
    padding: 8px;
    margin: 0 auto;
    position: absolute;
}

#intro_video_overlay button,
.carousel-caption button,
#read_more_btn button{
    background-color: #67781F;
    color: white;
    border-radius: 4px;
    border-width: 0;
}
#intro_video_overlay button:hover,
.carousel-caption button:hover,
#read_more_btn button:hover{
    background-color: #505f0a;
}
